{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h2>About</h2>
                <hr />
                <p>
                    Na <strong>Cine Vídeos</strong>, você mergulha em um mar de filmes digitais!  
                    Temos de tudo: desde os últimos lançamentos até aqueles clássicos
                    que nunca saem de moda, sem esquecer dos filmes que você nem imaginava que existiam.  
                    Explore nossa coleção gigante e escolha seus favoritos para alugar ou comprar com apenas 
                    alguns cliques. Aí é só dar o play e curtir em alta definição!
                </p>
                <p>
                    E o melhor: assista onde e como quiser! Nosso site é super fácil de usar e 
                    funciona em qualquer aparelho:  TV, tablet, celular... você escolhe!  
                    Com a gente, encontrar o filme perfeito para a sua noite de cinema é rapidinho e fácil, ainda te damos dicas do que você pode gostar!
                </p>
            </div>
            <div class="col-md-6 mx-auto mb-3 text-center">
                <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}